.delivery_modal {
    position: relative;
    display: flex;
    height: 100%;
    /* display: none; */
}

.delivery_modal form {
    background: #F9F9F9;
    width: 100%;
    padding: 0px 16px 29px 16px;
}

.form_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.form_wrapper .btn-darkorange {
    margin-top: auto;
}

.delivery_modal form h3 {
    margin: 19px 0 8px 0;
    line-height: var(--line-height-24px);
}

.delivery_modal form input:not([type=radio]) {
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    border: rgba(242, 242, 243, 1);
    font-size: var(--fs-10);
    line-height: 13.64px;
}

label {
    font-size: var(--fs-10);
}

input[type=radio] {
    accent-color: #0000001A;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    line-height: 13.64px;
    font-size: var(--fs-10);
}

.delivery_modal>div {
    position: relative;
    background-color: #FFAB08;
    width: 50%;
    display: none;
}

.delivery_modal img {
    position: absolute;
    top: 65px;
    left: 19px;
}

.radio_btns {
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#delivery_address {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
}

#delivery_address div {
    display: flex;
    gap: 8px;
}


@media(min-width:769px) {
    .delivery_modal>div {
        position: relative;
        background-color: #FFAB08;
        width: 50%;
        display: block;
    }

    .delivery_modal form {
        background: #F9F9F9;
        width: 50%;
        padding: 24;
    }
}